*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #5c030b;
    color:white;
    display: flex;
    justify-content: center;
}
body nav{
    z-index: 65;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #350105;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px black;
}
body .container{
    width:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
}
body nav .logo{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    gap:5px;
}
body a.logo{
    text-decoration: none;
}
body nav .logo .img{
    background-image: url('/Assets/Icons/sae3.png');
    width:35px;
    height:35px;
    background-size: cover;
}

body nav .logo div:last-child>span{
    color:#7b322e;
    display:inline-block
}
body nav .logo div:last-child>span::first-letter{
    color:#5c030b;
}
body h1{
    direction: rtl;
}
body div.s{
    direction: rtl;
    width:100%;
    background-color: #350105;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
body div.s>a{
    color:white;
    text-decoration: none;
    padding:5px;
    border-radius: 5px;
    background-color: #7b322e;
}

body .container>div.qn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
body .container>div.qn>button{
    width:100px;
    height: 50px;
    background-color: green;
    color:white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}
body .container>div.qn>button#q20{
    opacity: .5;
}


body footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
}
body footer>div{
    display: flex;
    align-items: center;
    gap:5px;
}
body footer a{
    color:white;
    text-decoration: none;
    font-weight: 700;
}
body footer a.wa{
    display: inline-block;
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url('/Assets/wa.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #350105;
}
body footer div.A{
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3;
    font-weight: 600;
}
body footer div.A>a{
    width:30px;
    aspect-ratio: 1/1;
    background-image: url('/Assets/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:900px) {
    body .container{
        width:98%;
    }
}

@media (max-width:600px) {
    body footer{
        flex-direction: column;
    }
}